body {
  background-color: antiquewhite;
}

h1 {
  color: black;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5em;
  text-align: center;
}

h2 {
  color: blueviolet;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 0.5em;
  text-align: center;
}

table {
  margin: auto;
  border-style: groove;
  border-width: 3px;
  text-align: center;
}

thead {
  background-color: pink;
  color: black;
}

thead th {
  border-style: groove;
  border-width: 3px;
  padding: 0.3em;
}

tfoot {
  background-color: lavender;
}

tfoot th {
  border-style: groove;
  border-width: 3px;
  padding: 0.3em;
}

tbody {
  background-color: aquamarine;
  border-style: groove;
  border-width: 3px;
}

tbody td {
  border-style: groove;
  border-width: 3px;
  padding: 0.3em;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  font-family:'Times New Roman', Times, serif;
  color: darkblue;
}