body {
  background-color: antiquewhite;
}

table {
  margin: auto;
  border-style: groove;
  border-width: 3px;
  text-align: center;
}

thead {
  background-color: pink;
  color: black;
}

thead th {
  border-style: groove;
  border-width: 3px;
  padding: 0.3em;
}

tfoot {
  background-color: lavender;
}

tfoot th {
  border-style: groove;
  border-width: 3px;
  padding: 0.3em;
}

tbody {
  background-color: aquamarine;
  border-style: groove;
  border-width: 3px;
}

tbody td {
  border-style: groove;
  border-width: 3px;
  padding: 0.3em;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  font-family:'Times New Roman', Times, serif;
  color: darkblue;
}